<!--
  Generated template for the MubanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="dark">

      <ion-buttons start>
          <button ion-button [navPush]="SettingsPage">
            <ion-icon name="cog" class="settingsIcon"></ion-icon>
          </button>
     </ion-buttons>

    <ion-title>
        <ion-segment [(ngModel)]="tabs">
        
          <ion-segment-button value="muban">
            模板
          </ion-segment-button>
          <ion-segment-button value="juese">
            角色
          </ion-segment-button>
      
        </ion-segment>
 
    </ion-title>

    <ion-buttons end>
        <button ion-button >
          <ion-icon name="add" class="settingsIcon"></ion-icon>
        </button>
   </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
    <div [ngSwitch]="tabs">

        <div class="tabs1" *ngSwitchCase="'muban'">
          <div class="muban_top">
              <!-- <ion-searchbar></ion-searchbar> -->
              <div class="twobtn">

                  <div class="more" (tap)="changeisfenlei()">
                      <p>分类 
                        <ion-icon name="arrow-down" *ngIf="!isfenlei"></ion-icon>
                        <ion-icon name="arrow-up" *ngIf="isfenlei"></ion-icon>
                      </p>
                    </div>
                  <div class="more" (tap)="changeislaiyuan()">
                      <p>来源
                        <ion-icon name="arrow-down" *ngIf="!islaiyuan"></ion-icon>
                        <ion-icon name="arrow-up" *ngIf="islaiyuan"></ion-icon>
                      </p>
                    </div>

              </div>
          </div>
          <div class="muban_mid1" *ngIf="isfenlei">
              
          </div>
          <div class="muban_mid2" *ngIf="islaiyuan">
              
          </div>
          <div class="muban_btm">
            <ion-card class="card"><p>暂无模板，点击右上角新建模板吧~</p></ion-card>
          </div>
        </div>
        <div class="tabs2" *ngSwitchCase="'juese'">
          角色
         
          
      </div>
      
     </div>
</ion-content>
